<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script type="text/javascript" src="/static/socket.io.js"></script>
</head>

<body>
	<input type="button" value="开始ASR" id="startASR" onclick="ws(startASR);" />

	<input type="button" value="停止ASR" id="stopASR" onclick="stopASR()" />



	<h3>
		转写文本：
	</h3>
	<div>
		<textarea id="asr_text" style="width:80%"></textarea>

	</div>

	<canvas id="canvas" style="width:81%"></canvas>

	<script type="text/javascript" src="{{ url_for('static', filename = 'recorder/recorder.js') }}"></script>

	<script type="text/javascript">
		windw_socket = null;
		var client_id = null;


		function ws(callback) {
			namespace = '/asr_channel';
			var websocket_url = location.protocol + '//' + document.domain + ':' + location.port + namespace;
			console.info(websocket_url);
			var socket = io.connect(websocket_url);
			// socket.emit('connect2', {'param':'value'});	//发送消息
			// socket.close()
			socket.on('connect', function (data) {
				windw_socket = socket;
				client_id = "";
				if (typeof data === "undefined") {
					console.info("连接成功1");
					client_id = ""
				} else {
					console.info("连接成功0");
					client_id = data.sid
					//document.getElementById("client_id").value = data.sid;
					callback();
				}
				console.log('connecte:' + client_id + ",socket: " + socket.id);
				//alert("建立连接成功")
				
				console.log("socket id: " + windw_socket.id);
				console.log("socket client_id: " + client_id);
			});
			socket.on('disconnect', function (data) {
				//alert("连接已断开")
				console.log('disconnecte:' + data);
			});

			socket.on('asr_message', function (data) {
				console.log('asr_message:' + data.text);
				document.getElementById('asr_text').value += data.text;
				//alert("收到服务端的回复:" + data)
			});
		}
		function clos_con() {
			if (windw_socket != null) {
				windw_socket.close()
			}
		}
		window.onbeforeunload = function (event) {
			if (windw_socket != null && !windw_socket.closed) {
				// confirm(windw_socket.closed)
				windw_socket.close()
			}
		}
		window.onunload = function (event) {
			if (windw_socket != null && !windw_socket.closed) {
				//confirm(windw_socket.closed)
				windw_socket.close()
			}
		}
		function send_msg() {
			if (windw_socket != null) {
				windw_socket.emit('message', "这里是客户端");
			}
		}

		function upload_wavfile() {
			var file = document.getElementById('wavfile').files[0];
			var ajax = new XMLHttpRequest;

			var formData = new FormData;
			formData.append('wavfile', file);
			formData.append('client_id', client_id);

			ajax.upload.addEventListener("progress", myProgressHandler, false);
			ajax.addEventListener('load', myOnLoadHandler, false);
			ajax.open('POST', '/uploader', true);
			ajax.send(formData);
		}
		function myProgressHandler(event) {
			//your code to track upload progress
			var p = Math.floor(event.loaded / event.total * 100);
			document.title = p + '%';
		}

		function myOnLoadHandler(event) {
			// your code on finished upload
			console.log(event.target.responseText);
		}

		var recorderOne = null, oCanvas = document.getElementById("canvas"), // 显示波形的canvas
			ctx = oCanvas.getContext("2d"), drawRecordId = null;

		// 移动端事件
		document.getElementById('startASR').addEventListener('touch', startASR);
		document.getElementById('stopASR').addEventListener('touch', stopASR);

		// canvas背景初始化
		initCanvasBg();

		var asrTimer = null;
		var isOne = true;
		var recorderTwo = null;
		var recorder = null;
		var startTime = Date.now();
		var startTimeOne = null, startTimeTwo = null;

		// 开始ASR
		function startASR() {
			if (!recorderOne) {
				recorderOne = new Recorder({
					// 以下是默认配置
					sampleBits: 16,
					sampleRate: 16000,
					numChannels: 1,
				});
				startTimeOne = Date.now();
			}
			if (!recorderTwo) {
				recorderTwo = new Recorder({
					// 以下是默认配置
					sampleBits: 16,
					sampleRate: 16000,
					numChannels: 1,
				});
				startTimeTwo = Date.now();
			}
			isOne = true;
			recorder = recorderOne;
			startTime = startTimeOne;
			asrTimer = setInterval(function () {				
				loopASR();
			}, 15000);
			recorder.start().then(function () {				
				console.log('开始录音1');
			});
			// 开始绘制canvas
			drawRecord();
			return [2 /*return*/];

		}

		function loopASR() {
			
			if (recorder && (recorderOne || recorderTwo)) {
				var dataArr = []
				if (isOne) {
					recorder = recorderTwo;
					startTimeTwo = Date.now();
					recorder.start().then(function () { 						
						console.log('开始录音2');
					});
					recorderOne.stop();
					dataArr = recorderOne.getPCMBlob();
					startTime = startTimeOne;
				} else {
					recorder = recorderOne;
					startTimeOne = Date.now();
					recorder.start().then(function () {						
						console.log('开始录音1');
					 });
					recorderTwo.stop();
					dataArr = recorderTwo.getPCMBlob();
					startTime = startTimeTwo;
				}
				isOne = !isOne;

				console.log('发送数据');
				windw_socket.emit('upload_audio_stream', {data: dataArr, startTime: startTime});
			}

		}
		// 停止ASR
		function stopASR() {
			recorderOne && recorderOne.stop();
			recorderTwo && recorderTwo.stop();
			console.log("Stop ASR");
			clearInterval(asrTimer);
			asrTimer = null;
			drawRecordId && cancelAnimationFrame(drawRecordId);
			drawRecordId = null;
		}

		// canvas波形绘制函数
		function drawRecord() {
			// 用requestAnimationFrame稳定60fps绘制
			drawRecordId = requestAnimationFrame(drawRecord);
			// 实时获取音频大小数据
			var dataArray = recorder.getRecordAnalyseData(), bufferLength = dataArray.length;
			// 填充背景色
			ctx.fillStyle = 'rgb(200, 200, 200)';
			ctx.fillRect(0, 0, oCanvas.width, oCanvas.height);
			// 设定波形绘制颜色
			ctx.lineWidth = 2;
			ctx.strokeStyle = 'rgb(0, 0, 0)';
			ctx.beginPath();
			var sliceWidth = oCanvas.width * 1.0 / bufferLength, // 一个点占多少位置，共有bufferLength个点要绘制
				x = 0; // 绘制点的x轴位置
			for (var i = 0; i < bufferLength; i++) {
				var v = dataArray[i] / 128.0;
				var y = v * oCanvas.height / 2;
				if (i === 0) {
					// 第一个点
					ctx.moveTo(x, y);
				}
				else {
					// 剩余的点
					ctx.lineTo(x, y);
				}
				// 依次平移，绘制所有点
				x += sliceWidth;
			}
			ctx.lineTo(oCanvas.width, oCanvas.height / 2);
			ctx.stroke();
		}
		// canvas背景初始化
		function initCanvasBg() {
			ctx.fillStyle = 'rgb(200, 200, 200)';
			ctx.fillRect(0, 0, oCanvas.width, oCanvas.height);
		}
	</script>


</body>

</html>