<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>速记助手</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/bootstrap-3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<style>
		.bcontent {
			margin-top: 10px;
		}

		a:link {
			text-decoration: none;
		}

		a:hover {
			text-decoration: none;
			cursor: hand;
		}
	</style>
	<script type="text/javascript" src="/static/socket.io.js"></script>
</head>

<body>
	<div class="container bcontent">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#upload_file_tab" aria-controls="upload_file_tab" role="tab"
					data-toggle="tab">上传文件</a></li>
			<li role="presentation"><a href="#record_stream_tab" aria-controls="record_stream_tab" role="tab"
					data-toggle="tab">现场录音</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="upload_file_tab">
				<div class="row">
					<form>
						<div class="form-group">
							<label class="form-label" for="customFile">选择并上传录音文件</label>
							<input type="file" class="form-control" name="wavfile" id="wavfile" />
							<br />
							<button id="uploadButton" class="btn"
								onclick="clos_con();ws(upload_wavfile);document.getElementById('stopASR').disabled=true;document.getElementById('startASR').disabled=true;return false;">
								<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 上传并识别
							</button>
							<input type="hidden" name="client_id" id="client_id" value="" />
						</div>
					</form>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="record_stream_tab">
				<div class="row">
					<label class="form-label" for="customFile">点击开始按钮，开启实时录音并上传识别</label>
					<br />
					<button id="startASR"
						onclick="ws(startASR);document.getElementById('stopASR').disabled=false;document.getElementById('startASR').disabled=true;document.getElementById('uploadButton').disabled=true">
						<span class="glyphicon glyphicon-record" aria-hidden="true"></span>开始录音并识别
					</button>
					<button value="停止ASR" id="stopASR"
						onclick="stopASR();document.getElementById('stopASR').disabled=true;document.getElementById('startASR').disabled=false;document.getElementById('uploadButton').disabled=false"
						disabled>
						<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>停止录音
					</button>

				</div>
				<div class="row">
					<canvas id="canvas" style="width:81%;height:42px;"></canvas>
				</div>
			</div>

		</div>


		<h3>
			转写文本：
		</h3>

		<div class="row">
			<div class="input-group">
				<textarea  class="form-control" value="" placeholder="转写文本" id="asr_text" rows="1"></textarea>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="copy-button" data-toggle="tooltip"
						data-placement="button" title="将文本复制到剪贴板">
						复制
					</button>
				</span>
			</div>

			<div class=".pre-scrollable" id="result_box">

			</div>

		</div>

		
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename = 'recorder/recorder.js') }}"></script>

	<script type="text/javascript">
		var windw_socket = null;
		var client_id = null;


		function ws(callback) {
			namespace = '/asr_channel';
			var websocket_url = location.protocol + '//' + document.domain + ':' + location.port + namespace;
			console.log(websocket_url);
			var socket = io.connect(websocket_url);
			// socket.emit('connect2', {'param':'value'});	//发送消息
			// socket.close()
			socket.on('connect', function (data) {
				windw_socket = socket;
				client_id = "";
				if (typeof data === "undefined") {
					console.log("连接成功1");
					client_id = ""
				} else {
					console.log("连接成功0");
					client_id = data.sid
					//document.getElementById("client_id").value = data.sid;
					callback();
				}
				console.log('connecte:' + client_id + ",socket: " + socket.id);
				//alert("建立连接成功")

				console.log("socket id: " + windw_socket.id);
				console.log("socket client_id: " + client_id);
			});
			socket.on('disconnect', function (data) {
				//alert("连接已断开")
				console.log('disconnecte:' + data);
			});

			socket.on('asr_message', function (data) {
				console.log('asr_message:' + data.text);
				// 输出转写识别的结果，并加上录音回放的按钮
				var result_box = document.getElementById("result_box");
				result_box.innerHTML = result_box.innerHTML + "<p>" + data.text + "<a class=\"glyphicon glyphicon-play\" href=\"#\" onclick=\"const mu=new Audio('/playwav?wav_file=" + data.wav_file + "');mu.play();return false;\"></a> </p>";
				//<audio controls='play pause'><source src='/playwav?wav_file="+data.wav_file+"'></audio>
				document.getElementById('asr_text').value += data.text;
				//alert("收到服务端的回复:" + data)
			});

		}

		function clos_con() {
			if (windw_socket != null) {
				windw_socket.close()
			}
		}
		window.onbeforeunload = function (event) {
			if (windw_socket != null && !windw_socket.closed) {
				// confirm(windw_socket.closed)
				windw_socket.close()
			}
		}
		window.onunload = function (event) {
			if (windw_socket != null && !windw_socket.closed) {
				//confirm(windw_socket.closed)
				windw_socket.close()
			}
		}
		function send_msg() {
			if (windw_socket != null) {
				windw_socket.emit('message', "这里是客户端");
			}
		}

		function upload_wavfile() {
			var file = document.getElementById('wavfile').files[0];
			var ajax = new XMLHttpRequest;

			var formData = new FormData;
			formData.append('wavfile', file);
			formData.append('client_id', client_id);

			ajax.upload.addEventListener("progress", myProgressHandler, false);
			ajax.addEventListener('load', myOnLoadHandler, false);
			ajax.open('POST', '/uploader', true);
			ajax.send(formData);
		}
		function myProgressHandler(event) {
			//your code to track upload progress
			var p = Math.floor(event.loaded / event.total * 100);
			document.title = p + '%';
		}

		function myOnLoadHandler(event) {
			// your code on finished upload
			console.log(event.target.responseText);
		}


		var recorderOne = null, oCanvas = document.getElementById("canvas"), // 显示波形的canvas
			ctx = oCanvas.getContext("2d"), drawRecordId = null;

		// 移动端事件
		document.getElementById('startASR').addEventListener('touch', startASR);
		document.getElementById('stopASR').addEventListener('touch', stopASR);

		// canvas背景初始化
		initCanvasBg();

		var asrTimer = null;
		var isOne = true;
		var recorderTwo = null;
		var recorder = null;
		var startTime = Date.now();
		var startTimeOne = null, startTimeTwo = null;

		// 开始ASR
		function startASR() {
			if (!recorderOne) {
				recorderOne = new Recorder({
					// 以下是默认配置
					sampleBits: 16,
					sampleRate: 16000,
					numChannels: 1,
				});
				startTimeOne = Date.now();
			}
			if (!recorderTwo) {
				recorderTwo = new Recorder({
					// 以下是默认配置
					sampleBits: 16,
					sampleRate: 16000,
					numChannels: 1,
				});
				startTimeTwo = Date.now();
			}
			isOne = true;
			recorder = recorderOne;
			startTime = startTimeOne;
			asrTimer = setInterval(function () {
				loopASR();
			}, 15000);
			recorder.start().then(function () {
				console.log('开始录音1');
			});
			// 开始绘制canvas
			drawRecord();
			return [2 /*return*/];

		}

		function loopASR() {

			if (recorder && (recorderOne || recorderTwo)) {
				var dataArr = []
				if (isOne) {
					recorder = recorderTwo;
					startTimeTwo = Date.now();
					recorder.start().then(function () {
						console.log('开始录音2');
					});
					recorderOne.stop();
					dataArr = recorderOne.getPCMBlob();
					startTime = startTimeOne;
				} else {
					recorder = recorderOne;
					startTimeOne = Date.now();
					recorder.start().then(function () {
						console.log('开始录音1');
					});
					recorderTwo.stop();
					dataArr = recorderTwo.getPCMBlob();
					startTime = startTimeTwo;
				}
				isOne = !isOne;

				console.log('发送数据');
				windw_socket.emit('upload_audio_stream', { data: dataArr, startTime: startTime });
			}

		}
		// 停止ASR
		function stopASR() {
			recorderOne && recorderOne.stop();
			recorderTwo && recorderTwo.stop();
			console.log("Stop ASR");
			clearInterval(asrTimer);
			asrTimer = null;
			drawRecordId && cancelAnimationFrame(drawRecordId);
			drawRecordId = null;
		}

		// canvas波形绘制函数
		function drawRecord() {
			// 用requestAnimationFrame稳定60fps绘制
			drawRecordId = requestAnimationFrame(drawRecord);
			// 实时获取音频大小数据
			var dataArray = recorder.getRecordAnalyseData(), bufferLength = dataArray.length;
			// 填充背景色
			ctx.fillStyle = 'rgb(200, 200, 200)';
			ctx.fillRect(0, 0, oCanvas.width, oCanvas.height);
			// 设定波形绘制颜色
			ctx.lineWidth = 2;
			ctx.strokeStyle = 'rgb(0, 0, 0)';
			ctx.beginPath();
			var sliceWidth = oCanvas.width * 1.0 / bufferLength, // 一个点占多少位置，共有bufferLength个点要绘制
				x = 0; // 绘制点的x轴位置
			for (var i = 0; i < bufferLength; i++) {
				var v = dataArray[i] / 128.0;
				var y = v * oCanvas.height / 2;
				if (i === 0) {
					// 第一个点
					ctx.moveTo(x, y);
				}
				else {
					// 剩余的点
					ctx.lineTo(x, y);
				}
				// 依次平移，绘制所有点
				x += sliceWidth;
			}
			ctx.lineTo(oCanvas.width, oCanvas.height / 2);
			ctx.stroke();
		}
		// canvas背景初始化
		function initCanvasBg() {
			ctx.fillStyle = 'rgb(200, 200, 200)';
			ctx.fillRect(0, 0, oCanvas.width, oCanvas.height);
		}
	</script>

	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="/static/jquery.min.js"
		integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
		crossorigin="anonymous"></script>

	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="/static/bootstrap-3.4.1/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			// Initialize the tooltip.
			$('#copy-button').tooltip();

			// When the copy button is clicked, select the value of the text box, attempt
			// to execute the copy command, and trigger event to update tooltip message
			// to indicate whether the text was successfully copied.
			$('#copy-button').bind('click', function () {
				var input = document.querySelector('#asr_text');
				//$('#asr_text').show();
				input.focus();
				input.select();   //setSelectionRange(0, input.value.length);
				console.log("COPY: " + input.value);
				try {
					var success = document.execCommand('copy');
					if (success) {
						$('#copy-button').trigger('copied', ['已复制!']);
					} else {
						$('#copy-button').trigger('copied', ['复制 Ctrl-c']);
					}
				} catch (err) {
					$('#copy-button').trigger('copied', ['复制 Ctrl-c']);
				}
				//$('#asr_text').hide();
			});

			// Handler for updating the tooltip message.
			$('#copy-button').bind('copied', function (event, message) {
				$(this).attr('title', message)
					.tooltip('fixTitle')
					.tooltip('show')
					.attr('title', "复制到剪贴板")
					.tooltip('fixTitle');
			});
		});
	</script>
</body>

</html>